{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Daily Activity</h4>
                  <p class="mb-0">Enter your Daily Activity</p>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-6">
                      <form method="post" role="form">
                        {% csrf_token %}
    
                        {% for field in form %}
                        <div class="input-group input-group-outline mb-3">
                          <label class="form-label" for="id_{{field.name}}">{{ field.label }}</label>
                          {{ field }}
                        </div>
                        {% endfor %}
                        <div class="text-start">
                          <button type="submit" class="btn bg-gradient-dark btn-lg mt-4 mb-0">Submit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

{% endblock content %}
