{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

    <div class="container-fluid py-2">
      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Sleep Target</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <form method="post" role="form" class="ps-3">
              {% csrf_token %}
              <div class="row">
                <div class="col-6">
                    {% for field in form %}
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label" for="id_{{field.name}}">{{ field.label }}</label>
                      {{ field }}
                    </div>
                    {% endfor %}
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="text-start">
                    <button type="submit" class="btn bg-gradient-dark btn-lg mt-4 mb-0">Submit</button>
                  </div>
                </div>
              </div>

            </div>
          </form>
          </div>
          </div>
        </div>
      </div>
      
      {% include "includes/footer.html" %}
    </div>
  
{% endblock content %}
